# Object files
*.o
*.cmd
*.ko
*.d

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# os/module
arch/sandbox/os/modules/.tmp_versions/
arch/sandbox/os/modules/Module.symvers
arch/sandbox/os/modules/i2c-openbmc-stub.ko.unsigned
arch/sandbox/os/modules/i2c-openbmc-stub.mod.c
arch/sandbox/os/modules/modules.order

# Kconfig
include/config/
include/generated/

